<div class="col-md-6 feed-background" id="post">
  <br/>
  <p style="font-size: 24px; font-weight:bold;">My Comments</p>
  <hr style="border: solid 5px darkgray;">
  <div class="">
    <% @comments.each do |comment| %>
        <div class="comments col-md-12">
          <div class="comment col-md-9">
            <%=comment.content%>
          </div>
        </div>
    <%end%>
  </div>
</div>