<div class="container-fluid">

  <div class="header text-center">
    <h2 style="color: white; padding:50px;">Welcome to Rukus</h2>
  </div>

  <!--<p id="demo"></p>

  <div class="center-block text-center">
    <div>
  <label for="session_username">Username</label>
  <input id="session_username"
         name="session[username]" type="text" />
    </div>
    <div>
  <label for="session_password">Password</label>
  <input id="session_password" name="session[password]"
         type="password" />
    </div>
      <form id="geo" method="post" action="/feed/index">
        <input id="latitude" type="hidden" value="">
        <input id="longitude" type="hidden" value="">
        <div>
          <input value="Sign In" type="submit" onclick="getLocation()"/>
        </div>
      </form>
    </div>-->

</div>


<script>
    var x = document.getElementById("demo");
    var geo = document.getElementById("geo")

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        geo.setValue("latitude", position.coords.latitude)
        geo.setValue("longitude", position.coords.longitude)
    }
</script>