<div class="container-fluid">

  <div class="header text-center">
    <h2 style="color: white; padding:50px;">Welcome to Rukus</h2>
  </div>

    <div class="center-block text-center">
      <br>
      <br>
        <%= button_to 'Sign In' %>


    </div>
</div>