<div class="col-md-6" id="posts">
    <br/>
    <%= link_to 'New Post', new_post_path %>
    <br/>
    <hr>
    <ul>
      <%@posts.each do |post| %>
          <li>
            <!-- <p class="votes"><%=post.votes%></p> -->

            <p class="content"><%=post.content%></p>

            <%= link_to t('.index', :default => t("Comments")),view_url(post.id)%>
            <hr>
          </li>
      <%end%>
    </ul>
  </div>
