<div class="col-md-6" id="posts">
        <form action="#" method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">
          <div class="share">
            <div class="panel panel-default">
              <div class="panel-heading">Update Status</div>
              <div class="panel-body">
                <div class="">
                  <textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What's on your mind ?"></textarea>
                </div>
              </div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <input type="submit" name="submit" value="Post" class="btn btn-primary">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </form>
<br/>
    <%= link_to 'New Post', new_post_path %>
    <br/>
    <hr>
    <ul>
      <%@posts.each do |post| %>
          <li>
            <!-- <p class="votes"><%=post.votes%></p> -->

            <p class="content"><%=post.content%></p>

            <%= link_to t('.index', :default => t("Comments")),view_url(post.id)%>
            <hr>
          </li>
      <%end%>
    </ul>
  </div>
</div>