<div class="container-fluid">

  <div class="col-md-12 header">
    <p class="title">Rukus</p>
  </div>
  <div class="col-md-3">
    <ul class="nav">
      <li><a>My Posts</a></li>
      <li><a>My Replies</a></li>
      <li><a>My Favorites</a></li>
    </ul>
  </div>


  <div class="op">
    <p class="votes"><%=@post.votes%></p>
    <p class="content"><%=@post.content%></p>
  </div>

  <div class="opcomments">
    <% @comments.each do |comment| %>
        <p class="votes"><%=comment.votes%></p>
        <p class="comments"><%=comment.content%></p>
    <%end%>
  </div>
</div>