/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container-narrow {
    background-color: #363636;
}
.title-rukus{
    paddin-top:15px !important;
    padding-left:15px !important;
    line-height: normal !important;
    position: static;
    padding-top: 20px !important;
    color: #9DFFDE !important;
    font-size: 55px !important;
    font-weight: bold !important;
}
.title-rukus:hover{
    background-color:transparent;
    text-decoration: none;
}
.header{
    height: 100px;
}
/* User sign in and sign forms. */
.border-form-div {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
    margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

html {
    margin-left: 2em;
    margin-right: 2em;
}

#banner {
    height: 7em;
    margin-bottom: 2em;
    background-color: #363636 !important;
    border-bottom: solid 10px lightgray;
}

#logo {
    padding-left: 1.5em;
    padding-top: .5em;
}

ul
{
    list-style-type: none;
}

.votes
{
    font-size:30px!important;
}

.upvote{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid black;
    cursor: pointer;
    padding-top: 9px !important;
}
.downvote{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid black;
    cursor: pointer;
}

.feed-background
{
    background-color:#EBEBEB;
    border: lightgray 4px solid;
    border-radius: 10px;
}


#nav > ul > li > a:hover
{
    background-color: #C8FFED;
    border-radius: 5px !important;
    color: #363636 !important;
}
.post-content
{
    color:#363636 !important;
}

.btn
{
    color: #333 !important;
    border-color:#9DFFDE !important;
    background-color: #C8FFED !important;
}

.comments{
    background-color:white !important;
    border: lightgray 1px solid !important;
    height:70px !important;
    font-size: small !important;
}

.comment{
    padding-left: 15px;
    padding-top:15px !important;
    font-size:16px !important;
    height: 100px;
}

.opcomments{
    background-color:#C8FFED;
    border: #9DFFDE 3px solid;
    border-radius: 5px;
    padding:20px;
    margin-bottom: 15px;
}

.sticky {
    position: fixed;
    width:22%;
    left: 29px;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.nav > li >a:hover
{
    color: darkgray !important;
    background-color: #C8FFED !important;
    border-radius:5px !important;
}


