// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-content {
  padding-top:15px !important;
  font-size:15px !important;
  height: 100px;
}

.postframe
{
  background-color:#9DFFDE !important;
  border-radius:6px !important;
  border: #75FFD1 2px solid !important;
  height:100px !important;
  font-size: small !important;
  padding-bottom: 10px !important;
}

.postframe:hover
{
  background-color:#C8FFED !important;
}

body {
  padding-bottom: 40px;
}
.facebook-share-box {
  width: 100%;
}
.facebook-share-box .share {
  -webkit-transition: 0.1s ease-out height;
  -moz-transition: 0.1s ease-out height;
  -ms-transition: 0.1s ease-out height;
  -o-transition: 0.1s ease-out height;
  transition: 0.1s ease-out height;
  clear: both;
  background: white;
  border: 2px solid #dddddd;
  margin-bottom: 10px;
  position: relative;
}


.facebook-share-box .post-types li a {
  color: #085083;
  text-decoration: none;
}

.facebook-share-box .post-types li a.active {
  color: #404040;
}

.facebook-share-box .post-types {
  padding-left: 5px;
}

.facebook-share-box ul {
  list-style: none;
  margin-bottom: 9px;
}

.facebook-share-box .post-types li {
  display: inline;
  margin-right: 10px;
}

.message {
  border-radius: 0;
  border: none;
}
.panel {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.privacy-dropdown {
  width: 100px;
}

.feedpost {
  padding: 0;
}

.postframe {
  margin-bottom: 10px;
}
.input-file { position: relative; margin: 10px 0px 5px 0px} /* Remove margin, it is just for stackoverflow viewing */
.input-file .input-group-addon { border: 0px; padding: 0px; }
.input-file .input-group-addon .btn { border-radius: 0 4px 4px 0 }
.input-file .input-group-addon input { cursor: pointer; position:absolute; width: 72px; z-index:2;top:0;right:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0; background-color:transparent; color:transparent; }

.favorite {
  unicode-bidi: bidi-override;
  color: #404040;
}
.favorite > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.favorite > span:hover:before,
.favorite > span:hover ~ span:before {
  content: "\2605";
  color: yellow;
  position: absolute;
}
