<% if user_signed_in? %>
    <div class="col-md-3" id="nav">
      <div class="feed-background">
      <ul class="nav" id="leftnav">
        <li><%= link_to( 'The Feed', feed_path) %></li>
        <li><%= link_to( 'My Rukus', feed_path) %></li>
        <li><%= link_to( 'My Comments', feed_path) %></li>
        <li><%= link_to( 'My Favorites', feed_path) %></li>
      </ul>
    </div>
</div>
<% end %>


<script>
    $(document).ready(function() {
        var stickyNavTop = $('#leftnav').offset().top;

        var stickyNav = function(){
            var scrollTop = $(window).scrollTop();

            if (scrollTop > stickyNavTop) {
                $('#leftnav').addClass('sticky feed-background');
            } else {
                $('#leftnav').removeClass('sticky feed-background');
            }
        };

        stickyNav();

        $(window).scroll(function() {
            stickyNav();
        });
    });
</script>