<% if user_signed_in? %>
    <p>Welcome <%= current_user.email %></p>
    <%= link_to 'Logged In [click to logout]', destroy_user_session_path, :method => :delete %>
    <%= link_to( 'feed', feed_path) %>
    <% else %>

<% end %>