<div class="header" id="banner">

    <ul class="nav nav-pills pull-right">
        <% if user_signed_in? %>
            <li><a style="color:#9DFFDE !important;"><%= current_user.email %></a></li>
            <li style="color:#9DFFDE !important;"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
    </ul>
  <div>
    <a href="/feed" class="title-rukus">RUKUS</a>
  </div>
</div>